/* Set variables for theme */

:root {
    --primary-color: #67c3cc;
}

/* Global Css for theme */

.btn-theme-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
}

.bg-theme-primary {
    background-color: var(--primary-color) !important;
}

.btn-outline-primary-custom {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: transparent !important;
}

.btn-outline-primary-custom:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.navbar .nav-link {
    color: var(--primary-color) !important;
}

.navbar .dropdown-toggle::after {
    color: var(--primary-color) !important;
}

.navbar .dropdown-item {
    color: var(--primary-color) !important;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.navbar .nav-item.active>.nav-link {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-radius: 4px !important;
}